html{
    /*make smoth scroll*/
    scroll-behavior: smooth;
}
body{
    background-color: black;
}

.navbar ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color:black;

    border-bottom: 1px solid black;

    position: fixed;
    top: 0;
    width: 100%;
}
.navbar li{
    float: left;

    margin-left: 5%; 
}
.navbar a{
    display: block;
    
    padding: 14px 14px;

    text-align: center;
    text-decoration: none;
    
    font-size: 25px;

    color: white;
}
.navbar a:hover{
    animation: none hov 2s;
}

.logo{
    background-color: rgb(242,100,0);
    color: white;

    font-family: sans-serif;
    font-weight: 900;
    font-size: 30px;

    outline-offset: 3px;

    text-align: center;

    margin-right: 5%;
    
    border-radius: 30px;
}


@keyframes hov{
    50% {
        font-size: 30px;
    }
}